.center
  #footer
    Questions, comments, problems? &middot;
    %a{ :href => 'http://twitter.com/kindlebility' } Twitter
    &middot;
    %a{ :href => 'http://blog.darkhax.com/contact' } Email
    &middot;
    %a{ :href => 'https://convore.com/kindlebility/' } Convore
    &middot;
    %a{ :href => 'https://github.com/darkhelmet/kindlebility3' } Source Code
    &middot;
    %a{ :href => '/faq' } FAQ