.center
  #footer
    %p
      Questions, comments, problems?
    %p
      %a{ :href => 'http://twitter.com/kindlebility' } Twitter
      &middot;
      %a{ :href => 'http://blog.darkhax.com/contact' } Email
      &middot;
      %a{ :href => 'https://convore.com/kindlebility/' } Convore
      &middot;
      %a{ :href => 'https://github.com/darkhelmet/kindlebility3' } Source Code
      &middot;
      %a{ :href => '/faq' } FAQ
      &middot;
      %a{ :href => '/' } Home
    %p
      %a{ :href => 'https://www.readability.com/', :target => '_blank' } Powered By Readability
  :javascript
    google_ad_client = "ca-pub-5644409813387398";
    /* kindlebility */
    google_ad_slot = "3965222675";
    google_ad_width = 468;
    google_ad_height = 60;
  %script{ :type => 'text/javascript', :src => 'http://pagead2.googlesyndication.com/pagead/show_ads.js' }
