.center
  #footer
    %p
      Questions, comments, problems?
    %p
      %a{ :href => 'http://twitter.com/kindlebility' } Twitter
      &middot;
      %a{ :href => 'http://blog.darkhax.com/contact' } Email
      &middot;
      %a{ :href => 'https://convore.com/kindlebility/' } Convore
      &middot;
      %a{ :href => 'https://github.com/darkhelmet/kindlebility3' } Source Code
      &middot;
      %a{ :href => '/faq' } FAQ
      &middot;
      %a{ :href => '/' } Home
    %p
      %a{ :href => 'https://www.readability.com/', :target => '_blank' } Powered By Readability
