#column
  %script{ :type => 'text/javascript', :src => 'http://wufoo.com/scripts/embed/form.js' }
  :javascript
    var m7x4a3 = new WufooForm();
    m7x4a3.initialize({
      userName: 'darkhelmetlive',
      formHash: 'm7x4a3',
      autoResize: true,
      height: '494'
    });
    m7x4a3.display();