#column
  :textile
    h2. What is Tinderizer?

    Tinderizer sends articles on the web to your Amazon Kindle device in one easy click.

    h2. Wasn't this called Kindlebility?

    Yes, but we got a letter from Amazon's lawyers. They were super nice, and liked the app, but we had to change the name. No big deal.

    If you made your bookmarklet before, you will want to remake it. The old domain will go away eventually.

    h2. Does Tinderizer cost anything?

    No. I don't charge for the service, I do accept donations. If you feel Tinderizer benefits you, please feel free to use the donate button at the bottom of the page.

    While Tinderizer does not actually cost anything, Amazon may charge for their Personal Document Service. Please refer to "Amazon's documentation":http://www.amazon.com/gp/help/customer/display.html?nodeId=200505520&#fees for more information about their fees.

    h2. What browsers does Tinderizer work on?

    Google Chrome, Firefox 3.5+, Safari 4+, Opera, IE8+

    h2. A certain URL doesn't work, what should I do?

    Use the contact links at the bottom of the page to ask me. I might not be able to anything about it, but knowing about it is one step in the right direction.

    h2. Something's not working quite right, can you fix it?

    Probably! Check out the "bug list":https://github.com/darkhelmet/Tinderizer/issues?labels=bug&state=open first to see if the issue is known. If not, use the contact links at the bottom of the page to notify me about the problem. If you are a Github user, you can submit the issue right from the bug list.

    h2. Will you add the feature _____?

    Maybe. Use the contact links at the bottom to ask me!

    h2. How does it work?

    Tinderizer is powered by "Readability":https://www.readability.com/. They take care of extracting the article, then I do some shenanigans to get it to you. Check out the code for more info.

  %hr
