%link{ :href => '/static/skin.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen,handheld' }
/[if lte IE 7]
  %link{ :href => '/static/skin.ie7.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen,handheld' }
/[if lte IE 8]
  %link{ :href => '/static/skin.ie8.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen,handheld' }
%script{ :type => 'text/javascript', :src => '/static/slidedeck.jquery.js' }
.center
  #slidedeck_container.skin-literally
    %dl.slidedeck
      / Part 1: The problem
      %dt The Problem
      %dd
        %ul.slidesVertical.part_one
          %li.vs1
            %p
              The
              %a{ :href => 'http://kindle.com/' } Amazon Kindle
              is great.
            %p If all you read is books.
            %p But you don't, do you?
            %p You're on the web right now,
            %p and that means you probably read stuff on the web.
            %a.vsnext{ :href => '#' } Keep Reading...
          %li.vs2
            %p
              And
              %a{ :href => 'https://www.readability.com/' } reading on the web is fine.
            %p But you've got stuff to do,
            %p and can't read everything right now.
            %p Wouldn't it be nice to read it on your Kindle?
            %p
              %a.vsnext{ :href => '#' } Well...
          %li.vs3
            %p Kindlebility can send most articles
            %p
              on the web
              %span.si straight to your Kindle!
            %p You can set it up in just a few minutes.
            %p
              There's
              %span.si no signup,
              I don't keep
              %span.si any information,
            %p
              and if you want, you can even
              %a{ :href => 'https://github.com/darkhelmet/kindlebility3' } view the code!
            %a.hsnext{ :href => '#' } Set up Kindlebility!
      / Part 2: The solution
      %dt The Solution
      %dd
        %ul.slidesVertical.part_two
          %li.vs1
            %p Kindlebility uses a bookmarklet to do the work
            %p It's like a bookmark, but runs Javascript,
            %p instead of going to a URL.
            %p First you need to make the bookmarklet,
            %p then you must allow me to send you things.
            %p
              That's it!
              %a.vsnext{ :href => '#' } Make the bookmarklet
          %li.vs2
            %p
              Enter your
              %em Kindle Email
              in the big box below.
            %p
              Get it from
              %a{ :href => 'http://kindle.com/', :target => '_blank' } Kindle.com
              under
              %em Manage Your Kindle
            %img{ :src => 'http://img.skitch.com/20110523-c4uhmkajachphpn849un9j1k5h.jpg' }
            %p
              Press
              %em Enter
              or click outside the box.
            %p
              %a.vsnext{ :href => '#' } What's next?
          %li.vs3
            %p Drag the bookmarklet to your bookmarks bar.
            %img{ :src => 'http://img.skitch.com/20110523-jru4y8nyd7c4dcwif37x44fejq.jpg' }
            %p For help with your specific browser:
            %p
              %a{ :href => '/chrome', :target => '_blank' } Google Chrome
              &middot;
              %a{ :href => '/firefox', :target => '_blank' } Firefox
              &middot;
              %a{ :href => '/safari', :target => '_blank' } Safari
              &middot;
              %a{ :href => '/ie', :target => '_blank' } Internet Explorer
            %p
              %a.vsnext{ :href => '#' } All done!
          %li.vs4
            %p
              Add
              %span.si kindle@darkhelmetlive.com
              to your
            %p
              %span.si Kindle Approved Email List
            %img{ :src => 'http://img.skitch.com/20110523-jykm4xnmsg783thqmd6qtmdcab.jpg' }
            %br
            %br
            %a.vsnext{ :href => '#' } Now what?
          %li.vs5
            %p Now browse to an interesting article,
            %p
              %a{ :href => 'http://blog.darkhax.com/2011/01/20/the-what-why-and-how-of-kindlebility', :target => '_blank' } like this one,
            %p and click the bookmarklet.
            %p It will show some progress, and then disappear.
            %p
              %a.vsnext{ :href => '#' } Anything else?
          %li.vs6
            %p Turn your Kindle on; it should download to it soon.
            %p
              Check the status on the
              %em Manage Your Kindle
              page:
            %img{ :src => 'http://img.skitch.com/20110523-nwbkgekhnju9j7g93hbjhgbrxs.jpg' }
  %small#blog
    Want more than some silly slideshow and a textbox asking for an email?
    %a{ :href => 'http://blog.darkhax.com/2011/01/20/the-what-why-and-how-of-kindlebility' } Read This!
  #form
    %label.text_shadow{ :for => 'email' } Your Kindle Email:
    %input#email.round{ :type => 'text', :placeholder => 'johndoe@kindle.com' }
  #extra
    %br
    %p Drag the link below to your bookmarks bar, and add
    %p
      %strong kindle@darkhelmetlive.com
    %p to your Kindle Approved E-mail List
    %br
    %a#bookmarklet{ :href => '#' }
    %br
    %br
    %a#iosLink{ :href => '#' } On an iPad or other iOS device?
    %br
    #ios
      %p.description Bookmark this page, and replace the URL of the bookmark you just made with this Javascript code:
      %textarea
  %br
  :javascript
    $('.slidedeck').slidedeck().vertical();
    $('a.vsnext').click(function() {
      $('.slidedeck').slidedeck().vertical().next();
      return false;
    });
    $('a.hsnext').click(function() {
      $('.slidedeck').slidedeck().next();
      return false;
    });
