%link{ :href => '/static/skin.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen,handheld' }
/[if lte IE 7]
  %link{ :href => '/static/skin.ie7.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen,handheld' }
/[if lte IE 8]
  %link{ :href => '/static/skin.ie8.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen,handheld' }
%script{ :type => 'text/javascript', :src => '/static/slidedeck.jquery.js' }
.center
  #slidedeck_container.skin-literally
    %dl.slidedeck
      / Part 1: The problem
      %dt The Problem
      %dd
        %ul.slidesVertical.part_one
          %li.vs1
            %p
              The
              %a{ :href => 'http://kindle.com/' } Amazon Kindle
              is great.
            %p If all you read is books. But you don't.
            %p You're on the web,
            %p and you read stuff on the web.
            %p
              %a.vsnext{ :href => '#' } Keep Reading...
          %li.vs2
            %p
              And
              %a{ :href => 'https://www.readability.com/' } reading on the web is fine.
            %p But you've got stuff to do,
            %p and can't read everything right now.
            %p Wouldn't it be nice to read it on your Kindle?
            %p
              %a.vsnext{ :href => '#' } Well...
          %li.vs3
            %p Kindlebility can send most articles
            %p
              on the web
              %span.si straight to your Kindle!
            %p You can set it up in just a few minutes.
            %p
              There's
              %span.si no signup,
              I don't keep
              %span.si any information!
            %p
              %a.hsnext{ :href => '#' } Set up Kindlebility!
            %a{ :href => 'https://github.com/darkhelmet/kindlebility3', :target => '_blank' } You can even view the code!
      / Part 2: The solution
      %dt The Solution
      %dd
        %ul.slidesVertical.part_two
          %li.vs1
            %p
              Kindlebility uses a
              %a{ :href => 'http://en.wikipedia.org/wiki/Bookmarklet', :target => '_blank' } bookmarklet
              to do the work
            %p First you need to make the bookmarklet,
            %p then you have to let me to send you things.
            %p That's it!
            %p
              %a.vsnext{ :href => '#' } Make the bookmarklet
          %li.vs2
            %p
              Enter your
              %em
                %a.facebox{ :href => '/kindle-email' } Kindle Email
              in the big box below.
            %p
              %input#email.round{ :type => 'text', :placeholder => 'johndoe@kindle.com' }
            %p
              %a.vsnext{ :href => '#' } What's next?
            %span
              You can use either an
              %em @kindle.com
              or
              %em @free.kindle.com
              address,
            %br
            %span
              though the former might use 3G and
              %a{ :href => 'http://www.amazon.com/gp/help/customer/display.html?nodeId=200505520&#fees', :target => '_blank' } cost you money. Read more at Amazon.com.
          %li.vs3
            %p
              Drag the bookmarklet to your
              %a.facebox{ :href => 'http://img.skitch.com/20110523-jru4y8nyd7c4dcwif37x44fejq.medium.jpg' } bookmarks bar.
            %p
              %a#bookmarklet{ :href => '#' } Send to my Kindle!
            %p
              %a.vsnext{ :href => '#' } All done!
            %span Need specifics?
            %br
            %br
            %a.facebox{ :href => '/chrome' } Google Chrome
            &middot;
            %a.facebox{ :href => '/safari' } Safari
            &middot;
            %a.facebox{ :href => '/firefox' } Firefox
            %br
            %br
            %a.facebox{ :href => '/ie' } Internet Explorer
            &middot;
            %a.facebox{ :href => '/ios' } iPad/iPhone
          %li.vs4
            %p
              Head to
              %a{ :href => 'https://www.amazon.com/gp/digital/fiona/manage', :target => '_blank' } Kindle.com
              and add
            %p
              %span.si kindle@darkhelmetlive.com
            %p
              to your
              %span.si
                %a.facebox{ :href => 'http://img.skitch.com/20110523-jykm4xnmsg783thqmd6qtmdcab.jpg' } Kindle Approved Email List
            %p
              %a.vsnext{ :href => '#' } Now what?
          %li.vs5
            %p Now browse to an interesting article,
            %p
              %a{ :href => 'http://blog.darkhax.com/2011/01/20/the-what-why-and-how-of-kindlebility', :target => '_blank' } like this one,
            %p and click the bookmarklet.
            %p It will show some progress, and then disappear.
            %p
              %a.vsnext{ :href => '#' } Anything else?
          %li.vs6
            %p Turn your Kindle on!
            %p Your freshly pressed article should arrive soon.
            %p You can check the status of it on the
            %p
              %em
                %a.facebox{ :href => 'http://img.skitch.com/20110523-nwbkgekhnju9j7g93hbjhgbrxs.jpg' } Manage Your Kindle
              page.
            %p Happy reading!
  %br