.browser
  :textile
    h2. On an iOS device...

    # Bookmark this page.
    # Copy the text in the textbox.
    # Edit the bookmark you just made, and replace the Address with the copied text.
    # Done!

  %textarea#ios
