!!! 5
%html
  %head
    %title kindlebility 2.0 - Sending articles to your Kindle, one click at a time!
    %meta{ :content => "#{request.host}:#{request.port}", :name => 'host' }
    %meta{ :content => 'text/html, charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{ :content => 'Send articles to your Kindle with a single click of a bookmarklet.', :name => 'description' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster&subset=latin', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Josefin+Slab&subset=latin', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/static/style.css', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/static/app.js' }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2062105-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .center
      %h1#main.text_shadow kindlebility 2.0
      #tagline Sending articles to your Kindle, one click at a time!
    = yield
    = partial(:footer)
